[build]
  command = "npm run build"
  functions = "functions"
[functions]
  directory = "functions"
[dev]
  functions="functions"
[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[[headers]]
  # Define which paths this specific [[headers]] block will cover.
  for = "/*"
    [headers.values]
    Access-Control-Allow-Origin = "*"